


body{
  background-color:white;
  font-family:Helvetica, sans-serif;
  color:white;

}
h1,h4{
   font-weight: bold;
 }




.company{
       background-color:black;
       color:white;}

.companycontainer{
                 display:flex;
                  align-items:center;

                 padding:12px 0;
               }

.company img{
              height:40px;
             padding-right:15px;
           }

           nav{
             display:flex;
               background-color:firebrick;
               color:white;
           }
           nav ul{display:flex;
             justify-content:space-between;
             align-items:center;


                   padding:13.5px 0;
                   list-style:none;

}
.mainbanner{
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height:700px;
width:1200px;
margin-left:auto;
margin-right:auto;

}
.bannercontainer{
                 position:relative;
                 display:flex;
                 justify-content: center;
                 align-items:center;

               }
.headline{background-color:black;
color:white;
width:360px;
padding:32px 48px;

}
.headline h1{
             color:white;
             font-size: 16

}
.products {display:inline-flex;
           justify-content:center;
           align-items:center;
         }
.productimage{display:flex;
              justify-content: center;
              border:4px solid black;
              height:362px;

            }
  .description{
               background-color: black;
               color:white;
               display:block;
               text-align:center;
               padding:9px;

  }
  .businessinfo {
                display:flex;
                justify-content: center;
                align-items:center;
  }
  .info{
        width:35%;
  }
  .info .title{
               display:block;
               background-color:black;
               color:white;
               padding:18px 36px;
             }
   span{color:black;}
